<template>
  <main class="layout project">
    <h1 class="page__heading container container--small reveal">Projects/{{ data.name }}</h1>
    <div class="project__container container container--small">
      <div class="project__left">
        <div class="project__techs reveal" v-if="data.techs">
          <nuxt-img :alt="'Logo' + tech" format="webp" v-for="tech in data.techs.split(',')" :key="tech" :src="'img/' + tech + '.svg'"/>
        </div>
        <p class="project__left__description reveal">{{ data.description }}</p>
      </div>
      <div class="project__right">
        <div class="project__right__meta reveal">
          <div class="meta reveal">
            <p class="meta__label">Date</p>
            <p class="meta__value">{{ data.date }}</p>
          </div>
          <div class="meta reveal">
            <p class="meta__label">Context</p>
            <p class="meta__value">{{ data.context }}</p>
          </div>
        </div>
        <div class="project__right__ctas reveal">
          <global-cta internal=false :to="data.repo" v-if="data.repo" text="Gitlab" type="gitlab"/>
          <global-cta internal=false :to="data.url" text="Explore" type=""/>
        </div>
      </div>
      <div class="project__gallery" ref="swiper" v-if="data.imgs">
        <h3 class="section__title small reveal">Gallery</h3>
        <div class="project__gallery__grid">
          <nuxt-img class="reveal" v-for="img in data.imgs.split(',')" :key="img" :alt="'Image du projet' + data.name" quality="60" format="webp" :src="'img/projects/' + id + '/' + img" />
        </div>
      </div>

      <div class="project__navigation">
        <nuxt-link :class="!links.previous && 'disabled'" to="'/projects/' + this.links.previous"><ArrowIcon/><p>Previous</p></nuxt-link>
        <p class="hint">Use the keyboard arrows to navigate through projects</p>
        <nuxt-link :class="!links.next && 'disabled'" :to="'/projects/' + this.links.next"><p>Next</p><ArrowIcon/></nuxt-link>
      </div>
    </div>
  </main>
</template>

<script>
import projects from '../../static/data/projects.json'
import ArrowIcon from '../../assets/svg/arrow-right.svg?inline'

export default {
  components: {
    ArrowIcon
  },

  data() {
    return {
      links: {
        next: '/',
        previous: '/'
      }
    }
  },

  async asyncData({ params, $http }) {
    const path = process.env.APP_URL + `/data/projects/${params.id}.json`
    const data = await $http.$get(path)

    const id = params.id
    return { data, id }
  },

  head() {
    return {
      title: 'Etienne Moureton - ' + this.data.name,
      meta: [
        {
          name: 'description',
          content: this.data.description
        },
        {
          name: 'title',
          content: 'Etienne Moureton - ' + this.data.name
        },
      ]
    }
  },

  transition(to, from) {
    if(!from || !to || to.name !== "projects-id") return 'project-slide'

    const fromItemIndex = projects.findIndex((el) => el.url === from.params.id)
    const toItemIndex = projects.findIndex((el) => el.url === to.params.id)

    if(fromItemIndex < toItemIndex) {
      return 'project-slide-right'
    } else {
      return 'project-slide-left'
    }
  },

  mounted() {
    this.getLinks()
    document.addEventListener("keydown", this.handleKeydown);
  },

  methods: {
    getLinks() {
      const currentIndex = projects.findIndex((el) => el.title === this.data.name)
      this.links = {
        previous: (projects[currentIndex - 1]) ? projects[currentIndex - 1].url : undefined,
        next: (projects[currentIndex + 1]) ? projects[currentIndex + 1].url : undefined
      }
    },

    handleKeydown(event) {
      switch(event.keyCode) {
        case 39 :
          if(this.links.next === undefined) break
          this.$router.push('/projects/' + this.links.next);
          document.removeEventListener("keydown", this.handleKeydown);
          break;
        case 37 :
          if(this.links.previous === undefined) break
          this.$router.push('/projects/' + this.links.previous);
          document.removeEventListener("keydown", this.handleKeydown);
          break
        case 38 :
          this.$router.push('/projects');
          document.removeEventListener("keydown", this.handleKeydown);
          break
      }
    }
  }
}
</script>

<style lang="scss">
.project {
  &__navigation {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 5rem;

    .hint {
      opacity: 0.5;
      font-style: italic;
    }

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;
      color: black;

      &.disabled {
        pointer-events: none;
        opacity: 0.3;
      }

      p {
        font-size: 1.2rem;
      }

      &:nth-of-type(1) {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &__previous,
    &__next {
      position: fixed;
      top: 0;
      bottom: 0;
      margin: auto;
      color: black;
      font-size: 1rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
    }

    &__previous {
      left: 1rem;
    }

    &__next {
      right: 1rem;
    }
  }

  h1 {
    word-break: break-all;
  }

  &.layout {
    gap: 1rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-areas:
      "infos infos sidebar"
      "gallery gallery gallery";
    gap: var(--gap--main);
    margin-top: 3rem;

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-areas:
      "infos"
      "sidebar"
      "gallery";
    }
  }

  &__techs {
    display: flex;
    gap: 2rem;

    img {
      filter: saturate(0);
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
  }

  &__left {
    grid-area: infos;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (max-width: 850px) {
      width: 100%;
    }

    &__description {
      font-size: 1.4rem;
      line-height: 1.8;
    }
  }

  &__right {
    grid-area: sidebar;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    @media screen and (max-width: 850px) {
      width: 100%;
    }

    &__meta {
      border-radius: var(--radius--primary);
      background-color: var(--color-black);
      width: 100%;
      padding: 2rem;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .meta {
        &__label {
          font-weight: 600;
          font-size: 1.4rem;
        }

        &__value {
          font-size: 1.4rem;

          &.link {
            color: white;
          }
        }
      }
    }

    &__ctas {
      display: inline-flex;
      align-items: center;
      gap: 2rem;
    }
  }

  &

  &__gallery {
    grid-area: gallery;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}
</style>