<template>
  <main class="projects layout">
    <section class="projects__container container container--small">
      <h1 class="page__heading reveal">Projects</h1>
      <global-projectsgrid cardClass="reveal" />
      <NuxtChild keep-alive/>
    </section>
  </main>
</template>

<script>
import projects from '../../static/data/projects.json'

export default {
  data() {
    return {
      projects
    }
  },
  head() {
    return {
      title: 'Etienne Moureton - Projects',
    }
  },
  transition: 'project-slide',
}
</script>

<style lang="scss">
.projects {
  h1 {
    margin-bottom: 3rem;
  }

  &__container {
    align-items: center;
  }
} 
</style>