<template>
  <section class="container container--small code reveal-wrapper">
    <div class="code__img reveal">
      <nuxt-img alt="Code extract" quality="80" src="img/code.webp" />
    </div>
    <div class="code__content">
      <h2 class="section__title reveal">{{ data.title }}</h2>
      <p class="section__text reveal">{{ data.content }}</p>
      <global-cta class="reveal" internal=true to="/projects" text="See examples"/>
    </div>
  </section>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss">
.code {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--gap--main);
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__img {
    background-color: var(--color-black);
    padding: 2rem;
    border-radius: 0.5rem;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
</style>