<template>
  <section class="design container container--small reveal-wrapper">
    <h2 class="section__title reveal">{{ data.title }}</h2>
    <div class="design__content">
      <div class="design__content__picto reveal">
        <DesignIcon/>
      </div>
      <div class="design__content__text">
        <p class="section__text reveal" v-html="data.content"></p>
      </div>
    </div>
  </section>
</template>

<script>
import DesignIcon from '../../assets/svg/design.svg?inline'
export default {
  props: ['data'],
  components: {
    DesignIcon
  }
}
</script>

<style lang="scss">
.design {
  display: flex;
  flex-direction: column;

  &__content {
    margin-top: 3rem;
     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--gap--main);
    width: 100%;

    &__picto {
      background-color: var(--color-black);
      padding: 5rem;
      border-radius: var(--radius--primary);

      svg {
        display: block;
        margin: auto;
      }
    }

    &__text {
      display: flex;
      align-items: center;
    }
  }
}
</style>