<template>
  <section class="hero container">
    <div class="hero__content">
      <h1 ref="heading" class="hero__content__title">{{ data.title }}</h1>
      <p class="hero__content__subtitle">{{ data.subtitle }}</p>
    </div>
    <div class="hero__images">
      <div class="hero__images__left">
        <nuxt-img alt="portrait personnel" quality="80" src="img/portrait.webp" />
      </div>
      <div class="hero__images__right">
        <nuxt-img alt="portrait personnel" quality="80" src="img/portrait.webp" />
      </div>
    </div>
    <a class="hero__cta" href="#next">Scroll to explore my work <ArrowIcon/></a>
  </section>
</template>

<script>
import ArrowIcon from '../../assets/svg/arrow.svg?inline'
export default {
  props: ['data'],
  components: {
    ArrowIcon
  },
  mounted() {
    this.animate()
  },
  methods: {
    animate() {
      const gsap = this.$gsap
      const splittedHeading = new this.$SplitText(this.$refs.heading, {
        type: "chars"
      })
      const chars = splittedHeading.chars
      const fadeInElements = gsap.timeline()
      fadeInElements
      .delay(1)
      .from(chars, {
        duration: 0.7,
        opacity: 0,
        y: 80,
        ease: "power2.out",
        stagger: 0.02,
      })
      .to(".hero__images__left", {
        delay: -1,
        duration: 1,
        height: '40rem',
        y: '-4rem',
        ease: "power2.out",
      })
      .to(".hero__images__right", {
        delay: -1,
        duration: 1,
        y: '4rem',
        height: '40rem',
        ease: "power2.out",
      })
      .from(".hero__content__subtitle", {
        duration: 0.3,
        opacity: 0,
        ease: "power2.out",
      })
      .from(".hero__cta", {
        duration: 0.6,
        opacity: 0,
        y: 20,
        ease: "power4.out",
      })
      ;
    }
  }
}
</script>

<style lang="scss">
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;

    &__title {
      font-size: 9.6rem;
      font-family: var(--font-family--secondary);
      font-weight: 400;
    }

    &__subtitle {
      font-size: 2.5rem;
      color: var(--color-grey--light);
      font-weight: 400;
    }
  }

  &__images {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    z-index: 0;

    &__left,
    &__right {
      width: 16rem;
      height: 0rem;
      overflow: hidden;
      transform-origin: center;

      img {
        width: 16rem;
        height: 40rem;
        object-fit: cover;
      }
    }

    &__left {
      img {
        object-position: -20px;
      }
    }

    &__right {
      img {
        object-position: -180px;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    gap: 1rem;
    color: var(--color-grey--light);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
  }
}
</style>