<template>
  <section class="projets container container--small reveal-wrapper">
    <h3 class="section__title reveal">{{ data.title }}</h3>
    <p class="projets__subtitle reveal">{{ data.subtitle }}</p>
    <p class="projets__text reveal">{{ data.content }}</p>

    <global-projectsgrid class="reveal" limit=3 />
  </section>
</template>

<script>
export default {
  props: ['data'],
}
</script>

<style lang="scss">
.projets {
  &__subtitle {
    font-size: 1.5rem;
    font-style: italic;
  }

  &__text {
    margin: 2.4rem 0;
    font-size: 1.4rem;
    color: var(--color-grey--light);
  }
}
</style>