<template>
  <section class="stack container container--small reveal-wrapper">
    <NuxtLogoLight class="stack__logo reveal"/>
    <div class="stack__content">
      <NuxtLogo class="stack__logo--small reveal"/>
      <h3 class="section__title reveal">{{ data.title }}</h3>
      <div class="section__text reveal">{{ data.content }}</div>
    </div>
  </section>
</template>

<script>
import NuxtLogo from '../../assets/svg/nuxt-logo.svg?inline'
import NuxtLogoLight from '../../assets/svg/nuxt-logo--light.svg?inline'

export default {
  props: ['data'],
  components: {
    NuxtLogo,
    NuxtLogoLight
  }
}
</script>

<style lang="scss">
.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &.container {
    padding: 5rem var(--padding--body);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    max-width: 50rem;

    .section {
      &__title,
      &__text {
        width: fit-content;
        text-align: center;
      }
    }
  }
  
  &__logo {
    height: 120%;
    position: absolute;
    max-width: 100%;
    inset: 0;
    margin: auto;

    &--small {
      width: 14rem;
    }
  }
}
</style>