<template>
  <section class="timeline" ref="section">
    <div class="container timeline__container">
      <h2 class="section__title white centered">{{ data.title }}</h2>
      <div class="timeline__wrapper">
        <Timeline ref="line" class="line" />
        <Timeline ref="completion" class="line timeline__completion" />
        <div class="timeline__element" v-for="block in data.blocks" :key="block.title" ref="elements">
          <div class="timeline__element__title">{{ block.title }}</div>
          <p class="timeline__element__text">{{ block.content }}</p>
        </div>
        <div class="timeline__point" v-for="block in data.blocks" :key="block.title" ref="points"></div>
      </div>
    </div>
  </section>
</template>

<script>
import Timeline from '../../assets/svg/line.svg?inline'
export default {
  props: ['data'],
  components: {
    Timeline
  },

  mounted() {
    this.getPointsCoordonates()

    document.addEventListener('resize', () => {
      this.getPointsCoordonates()
    })
    
    this.animate()
  },

  methods: {
    getPointsCoordonates() {
      const line = this.$refs.line.querySelector('path')
      const lineLength = line.getTotalLength()
      const steps = this.data.blocks.length
      const stepLength = lineLength / steps
      const points = []
      for(let i = 0; i <= steps; i++) {
        points.push(line.getPointAtLength(stepLength * i))
      }
      
      this.$refs.elements.forEach((el, index) => {
        el.style.top = points[index].y + "px"
      })
      this.$refs.points.forEach((el, index) => {
        el.style.left = points[index].x + "px"
        el.style.top = points[index].y + "px"
      })
    },

    animate() {
      const tlLine = this.$gsap.timeline({ paused: true })
      tlLine.fromTo('.timeline__completion path', {
        drawSVG: "0%"
      }, {
        drawSVG: "100%"
      })

      const tl = this.$gsap.timeline({ paused: true })
      for(let i = 0; i < this.$refs.elements.length; i++) {
        tl.from(this.$refs.elements[i], {
          opacity: 0.2
        })
      }

      this.$ScrollTrigger.create({  
        trigger: this.$refs.section,
        start: 'top center',
        end: 'bottom center',
        animation: tlLine,
        scrub: 1,
        onLeave: self => self.kill(false, true)
      })

      this.$ScrollTrigger.create({  
        trigger: this.$refs.section,
        start: 'top center',
        end: 'bottom bottom',
        animation: tl,
        scrub: 1,
        onLeave: self => self.kill(false, true)
      })
    }
  }
}
</script>

<style lang="scss">
.timeline {
  width: 100vw;
  padding: 13rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-black);

  &__container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    position: relative;

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }

  &__element {
    position: absolute;
    top: 0;
    width: 30rem;

    @media screen and (max-width: 500px) {
      position: unset;
    }

    &:nth-child(even) {
      left: 300%;
    }

    &:nth-child(odd) {
      right: 300%;
    }

    &__title {
      color: white;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    &__text {
      color: #bababa;
      font-size: 1.2rem;
    }
  }

  &__point {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    transform: translateX(-0.5rem);

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  &__completion {
    position: absolute;
    inset: 0;

    path {
      stroke: white;
    }
  }

  .line {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}
</style>