@font-face {
  font-family: 'Abril Fatface';
  font-display: swap;
  src: url('/fonts/AbrilFatface-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('/fonts/Poppins-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('/fonts/Poppins-SemiBold.woff');
  font-weight: 600;
}