// PROJECT SLIDE FROM TOP
@keyframes projectSlideOut {
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.project-slide {
  &-leave-active {
    transition: transform 1s, opacity 1s;
  }

  &-leave-to {
    .reveal {
      animation: projectSlideOut 0.5s ease-in-out forwards;

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }

  &-enter-active {
    transition: transform 0.5s, opacity 0.5s;

    .reveal {
      transition: transform 0.5s, opacity 0.5s;
    }
  }

  &-enter {
    .reveal {
      transform: translateY(20px);
      opacity: 0;
    }
  }
}

// PROJECT SLIDE FROM RIGHT
@keyframes projectSlideOutRight {
  to {
    transform: translateX(50px);
    opacity: 0;
  }
}

.project-slide-right {
  &-leave-active,
  &-enter-active  {
    transition: transform 1s, opacity 1s;
  }

  &-leave-to {
    .reveal {
      animation: projectSlideOutRight 0.5s ease-in-out forwards;

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }

  &-enter-to {
    .reveal {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }

  &-enter-active,
  &-leave-active {
    transition: transform 1s, opacity 1s;

    .reveal {
      transition: transform 0.5s, opacity 0.5s;
    }
  }

  &-enter {
    .reveal {
      transform: translateX(-50px);
      opacity: 0;
    }
  }
}

// PROJECT SLIDE FROM LEFT
@keyframes projectSlideOutLeft {
  to {
    transform: translateX(-50px);
    opacity: 0;
  }
}

.project-slide-left {
  &-leave-active,
  &-enter-active  {
    transition: transform 1s, opacity 1s;
  }

  &-leave-to {
    .reveal {
      animation: projectSlideOutLeft 0.5s ease-in-out forwards;

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }

  &-enter-to {
    .reveal {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }

  &-enter-active,
  &-leave-active {
    transition: transform 1s, opacity 1s;

    .reveal {
      transition: transform 0.5s, opacity 0.5s;
    }
  }

  &-enter {
    .reveal {
      transform: translateX(50px);
      opacity: 0;
    }
  }
}