:root {
  --padding--body: 4rem;

  --font-family--primary: 'Poppins';
  --font-family--secondary: 'Abril Fatface';

  --color-grey--light: #666;
  --color-black: #1E1E1E;

  --radius--primary: 1rem;

  --gap--main: 5rem;
}