html,
body {
  padding: 0;
  margin: 0
}

html {
  font-size: 62.5%;
  font-family: var(--font-family--primary);

  body {
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 0 var(--padding--body);

  &--small {
    max-width: 90rem;
  }
}

.layout {
  min-height: calc(100vh - 5.5rem);
  padding-top: 10rem;
  display: flex;
  gap: 15rem;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;

  &.home {
    padding-top: 0;
  }
}

.section {
  &__title {
    font-size: 4.8rem;
    font-weight: 400;
    color: var(--color-black);
    font-family: var(--font-family--secondary);
    width: 100%;

    &.small {
      font-size: 4rem;

      @media screen and (max-width: 700px) {
        font-size: 3rem;
      }
    }

    &.white {
      color: #fff;
    }

    &.centered {
      text-align: center;
    }
  }

  &__text {
    font-size: 1.4rem;
    color: var(--color-grey--light);
  }
}

.page {
  &__heading {
    font-size: 4.8rem;
    font-weight: 400;
    color: var(--color-black);
    font-family: var(--font-family--secondary);
    width: 100%;

    @media screen and (max-width: 700px) {
      font-size: 3.8rem;
    }
  }
}