<template>
  <div class="error layout">
    <p class="error__code">Oh no...</p>
    <p class="error__bg">404</p>
    <global-cta to="/" text="Take me back home" type="" internal=true />
  </div>
</template>

<style lang="scss">
.error {
  &.layout {
    justify-content: center;
    gap: 1rem;
    position: relative;
  }

  &__code {
    font-size: 10rem;
    font-family: var(--font-family--secondary);
  }

  &__bg {
    font-size: 40rem;
    opacity: 0.05;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    font-family: var(--font-family--secondary);
  } 
}
</style>