<template>
  <main class="home layout">
    <home-hero :data="data.hero"/>
    <home-design :data="data.design"/>
    <home-timeline :data="data.timeline"/>
    <home-code :data="data.code"/>
    <home-stack :data="data.stack"/>
    <home-projects :data="data.projects" />
  </main>
</template>

<script>
import data from '../static/data/home.json'

export default {
  name: 'Home',
  data() {
    return {
      data,
    }
  }
}
</script>