<template>
  <a target="blank" :href="to" class="cta" :class="type" v-if="internal === 'false'">{{ text }}<ArrowIcon/></a>
  <nuxt-link :to="to" class="cta" :class="type" v-else>{{ text }}<ArrowIcon/></nuxt-link>
</template>

<script>
import ArrowIcon from '../../assets/svg/arrow-right.svg?inline'
export default {
  props: ['to', 'text', 'type', 'internal'],
  components: {
    ArrowIcon
  }
}
</script>

<style lang="scss" scoped>
.cta {
  --btn--color: var(--color-grey--light);
  gap: 1rem;
  color: var(--btn--color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    transition: transform 0.1s ease-in-out;

    path {
      stroke: var(--btn--color);
    }
  }

  &.white {
    --btn--color: white;
  }

  &.gitlab {
    --btn--color: white;
    padding: 0.7rem 1.5rem;
    background-color: #FC6D26;
    transition: transform 0.1s ease-in-out, padding-right 0.1s ease-in-out;

    &:hover {
      padding-right: 2.5rem;
    }
  }

  &:hover {
    svg {
      transform: translateX(1rem);
    }
  }
}
</style>