<template>
  <footer class="footer">
    <div class="footer__container container container--small">
      <p>2022</p>
      <p>hello@etiennemoureton.fr</p>
    </div>
  </footer>
</template>

<style lang="scss">
.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}
</style>