<template>
  <header>
    <div class="container container--small">
      <nav>
        <nuxt-link to="/"><span class="main">Home</span><span class="selected">Home</span></nuxt-link>
        <nuxt-link to="/projects"><span class="main">Projects</span><span class="selected">Projects</span></nuxt-link>
      </nav>
      <global-links/>
    </div>
  </header>
</template>

<script>
export default {
  mounted() {
    this.animate()
  },
  methods: {
    animate() {
      const menuElements = document.querySelectorAll('header nav a')
      const gsap = this.$gsap
      const tl = gsap.timeline()
      tl
      .delay(1)
      
      menuElements.forEach((el) => {
        tl.from(el, {
          duration: 0.7,
          opacity: 0,
          y: 80,
          ease: "power2.out",
          delay: 0.2,
        });
      })
    }
  }
}
</script>

<style lang="scss">
header {
  position: fixed;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: white;
  top: 0;
  padding: 2rem 0;

  @media screen and (max-width: 700px) {
    width: 100vw;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    overflow: hidden;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.4rem;
      width: 8rem;
      position: relative;
      height: 100%;

      @media screen and (max-width: 700px) {
        width: 6rem;
      }

      span {
        position: absolute;
        inset: 0;
        margin: auto;
        transition: transform 0.3s ease-in-out;

        &.selected {
          font-family: var(--font-family--secondary);
          transform: translateY(-100%);
        }
      }

      &.nuxt-link-exact-active {
        .main {
          transform: translateY(100%);
        }
        .selected {
          transform: translateY(0);
        }
      }
    }
  }
}
</style>