<template>
  <div class="links">
    <div class="links__grid">
      <a href="https://medium.com/@emoureton" target="_blank"><MediumIcon/></a>
      <a href="https://www.linkedin.com/in/etiennemoureton/" target="_blank"><LinkedinIcon/></a>
      <a href="https://gitlab.com/emoureton" target="_blank"><GitlabIcon/></a>
      <a href="https://github.com/YsarocK" target="_blank"><GithubIcon/></a>
    </div>
  </div>
</template>

<script>
import MediumIcon from '../../assets/svg/medium.svg?inline'
import LinkedinIcon from '../../assets/svg/linkedin.svg?inline'
import GitlabIcon from '../../assets/svg/gitlab.svg?inline'
import GithubIcon from '../../assets/svg/github.svg?inline'

export default {
  components: {
    MediumIcon,
    LinkedinIcon,
    GitlabIcon,
    GithubIcon
  },
  mounted() {
    this.animate()
  },
  methods: {
    animate() {
      const links = document.querySelectorAll('.links a')
      const gsap = this.$gsap
      const tl = gsap.timeline()
      tl
      .delay(2)
      
      links.forEach((el) => {
        tl.from(el, {
          duration: 0.3,
          opacity: 0,
          y: 20,
          ease: "power2.out",
          delay: 0.05,
        });
      })
    }
  }
}
</script>

<style lang="scss">
.links {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    a {
      display: flex;
      align-items: center;
      width: 1.5rem;
      color: black;
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1 !important;
      }
    }
  }
}
</style>