<template>
  <div class="projets__grid">
    <div class="projets__grid__item" :class="cardClass" v-for="item, index in items" :key="item">
      <p class="projets__grid__title">{{ item.title }}</p>
      <p class="projets__grid__description">{{ item.description }}</p>
      <div class="projets__grid__techs">
        <nuxt-img format="webp" :alt="'Logo' + tech" v-for="tech in item.techs.split(',')" :key="tech" :src="'img/' + tech + '.svg'"/>
      </div>
      <global-cta v-if="item.url" :to="'/projects/' + item.url" text="Go to" :type="index === 1 && 'white'" internal=true />
    </div>
  </div>
</template>

<script>
import projects from '../../static/data/projects.json'
export default {
  props: ['limit', 'cardClass'],
  computed: {
    items() {
      return this.limit ? projects.slice(0, parseInt(this.limit)) : projects
    }
  }
}
</script>

<style lang="scss">
.projets {
  &__grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    &__item {
      padding: 2.5rem;
      min-height: 26rem;
      background-color: #F5F5F5;
      border-radius: calc(var(--radius--primary) / 2);
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &:nth-child(2) {
        background-color: var(--color-black);
        color: white;
      } 
    }

    &__title {
      font-size: 2rem;
      font-weight: 600;
    }

    &__description {
      font-size: 1.2rem;
    }

    &__techs {
      display: flex;
      gap: 1rem;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        filter: saturate(0);
      }
    }

    .cta {
      margin: auto 0 0 0;
    }
  }
}
</style>